.container1 {
    width: 1000px;
    height: 1200.07px;
    border-radius: 40px;
    margin-top: 80.07px; 
    margin-bottom: 100.07px;
    margin-left: 119.25px; 
  }
  
  .container1 img {

    left: 0;
    width: 100%;

    border-radius: 40px;
  }
  