.footer-container {
    width: 1520px;
    height: 368.53px;
    background-color: #EDEEF7;
    color: #333; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text strong (bold) */
  
    left: -1; /* Position from the left edge of the screen */
    margin-top: 50px; 
  }
  